.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.graphContent {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.flexContainer {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 250px; /* Or whatever width you want */
  background-color: #f5f5f5; /* Example background color */
  height: 100%;
}

.topBar {
  height: 60px; /* Example height */
  background-color: #fff; /* Example background color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}